@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar > header {
  max-width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card {
  animation: fadeIn 2s;
}

@keyframes fadeInHeader {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeInHeader 1s ease-out forwards;
}
