@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar > header {
  max-width: 100%;
}
.card {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Transizione di opacità per il fade */
.transition-opacity {
  transition: opacity 0.5s ease-in-out; /* Tempo di transizione */
}

/* Opacità 0 per il fade-out */
.opacity-0 {
  opacity: 0;
}

/* Opacità 1 per il fade-in */
.opacity-100 {
  opacity: 1;
}
